body {
  min-height: 100vh;
  background: radial-gradient(white 60%, rgba(170, 212, 255, 0.25) 100%);
}

input:focus, textarea:focus {
  outline: none;
  border: solid 5px;
  border-color: rgb(0, 55, 55);
}
textarea:focus {
  border-width: 8px;
}

input, textarea {
  transition: border-width 0.125s;
  transition: border-color: 3s;
}

button {
  outline: none;
}
